@import 'variables';


/* 投稿一覧 ================================ */
.posts {
  background-color: $light-white;
  padding: 30px 0;
}

.index {
  margin: 0 auto;
  max-width: 580px;
}

.post-item {
  display: flex;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid $gray;
  .post-title  {
    padding: 10px 30px 8px 0;
    a {
      color: black;
      font-size: 17px;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .post-below {
    padding: 5px;
    a {
      font-size: 13px;
      color: $dark-gray;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      font-size: 13px;
      color: $dark-gray;
    }
    span {
      margin-right: 10px;
    }
  }
}

.post-left {
  padding: 15px 0 10px 10px;
  width: 12%;
  img {
    max-width: 100%;
  }
}

.post-right {
  padding-left: 10px;
  width: 88%;
}

.page-wrapper {
  text-align: center;
  margin-bottom: 30px;
  span, a {
    color: $dark-gray;
  }
}

.pagination {
  width: 100%;
  display: inline-block;
}


/* 投稿フォーム ================================ */

.content {
  margin: 0 5px;
}


.title-area {
  margin: 10px 0;
  width: 99vw;
  height: 40px;
  border: solid 1px $gray;
  border-radius: 5px
}

.wrapper {
  border: solid 1px $gray;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  margin-top: 5px;
}

.editor-wrapper {
  height: 78vh;
  width: 50vw;

}
.editor-header {
  color: $dark-gray;
  background-color: #fafafa;
  line-height: 40px;
  text-align: center;
}

.editor {
  width: 100%;
  padding: 10px;
  height: 78vh;
  border: none;
  resize: none;
  &:focus {
    outline: none;
  }
}

.preview-wrapper {
  width: 50vw;
  border-left: solid 1px $gray;

}
.preview-header {
  color: $dark-gray;
  background-color: #fafafa;
  line-height: 40px;
  text-align: center;
}

.preview {
  height: 78vh;
  padding: 10px;
  background-color: white;
  overflow: scroll;
  a {
    color: blue;
  }
}

.post-btn {
  font-size: 14px;
  float: right;
  margin-top: 10px;
  padding: 5px 60px;
  background-color: $light-blue;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 2px;
  &:hover {
  background-color: $blue;
  }
}

.post-error {
  font-size: 15px;
}

/* 投稿詳細 ================================ */

.post-show-item {
  min-width: 600px;
  background-color: white;
  margin: 30px auto;
  width: 870px;
  .post-content {
    padding: 30px;
    .post-show-upper {
      padding: 10px;
      width: 100%;
      .date {
        color: $dark-gray;
        font-size: 15px;
      }
      a {
        display: inline-block;
        color: black;
        margin-right: 20px;
        margin-left: 5px;
        font-size: 18px;
      }
      .post-show-edit {
        float: right;
       a {
        margin: 0;
        color: $dark-gray;
        font-size: 14px;
       }
      }
    }
    .post-show-title {
      font-size: 40px;
      font-weight: 600;
      margin: 20px 0 60px;
    }
    .post-show-body {
      h1 ,h2, h3 {
      font-weight: bold;
      margin: 70px 0 0;
      }
      p {
      line-height: 30px;
      word-wrap: break-word;
      overflow-wrap : break-word;
      }
      a {
        color: blue;
      }
    }
  }
}

/* ボタン ================================ */

.buttons {
  width: 100%;
  margin: 35px 0 50px;
  display: flex;
  .like {
    text-align: center;
    width: 60%;
    padding: 8px;
    border: 1.5px solid $light-blue;
    border-radius: 3px;
    margin-right: 20px;
    color: $light-blue;
    a {
      color: $light-blue;
      text-decoration: none;
      display: block;
    }
  }
  .stock {
    text-align: center;
    width: 30%;
    padding: 8px;
    border: 1.5px solid #555;
    border-radius: 3px;
    background-color: #555;
    a {
      display: block;
      color: white;
      text-decoration: none;
    }
  }
}

.stock-folder {
  position: relative;
  .fa-folder-o {
    background-color: white;
    color: white;
  }
  .check {
  position: absolute;
  top: 0;
  left: 105px;
  color: green;
  }
}




















