<div class="top">
  <div class="container">
    <div class="lead">
      <h1>Hello <span>pre-</span>hackers !</h1>
      <p>Piitaはプログラミング初学者のための情報共有サイトです。<br>気づいたこと、学んだこと、疑問に思ったことを未来のエンジニア達と共有しましょう ;)</p>
    </div>
  </div>
</div>

<div class="posts">
  <div class="container">
    <div class="index">
      <% @posts.each do |post| %>
        <%= render partial: "posts", locals: {post: post} %>
      <% end %>
    </div>
  </div>
</div>

<div class="page-wrapper">
  <%= paginate(@posts) %>
</div>

